{% extends 'index.html.twig' %}
{% block body %}
<div class="post-preview">
    <h2 class="post-title">
        Enter new customer info
    </h2>

    <h1>new student saved with {{ newstudentid }} id</h1>


</div>

{% endblock %}