{% extends 'index.html.twig' %}

{% block body %}
    <div class="post-preview">
        <h2 class="post-title">
            Search Some Student
        </h2>
        <form method="POST" action="{{path('searchsomestudentform')}}">
                <input class="form-control" type="text" name="name" placeholder="Enter Name">&nbsp&nbsp&nbsp<br>
                <input type="text" class="form-control" name="price" placeholder="Enter  Price">&nbsp&nbsp&nbsp<br>
                <input type="text" class="form-control" name="company" placeholder="Enter  Company">&nbsp&nbsp&nbsp<br>
                <input type="text" class="form-control" name="amount" placeholder="Enter  Amount">&nbsp&nbsp&nbsp<br>
                <input type="submit" name="Submit" value="Search">


        </form>

    </div>
{% endblock %}
