
{% block Header %}

    {{ include('header.html.twig') }}
{% endblock %}
{% block BeforeMenu %}

    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Main Page</h2>
    <!-- Icon Divider -->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
            <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
    </div>


{% endblock %}
{% block Menu %}
    {{ render(path('menu')) }}
{% endblock %}
{% block body %}

    <h1>Our Main Page</h1>


    <h3>Name:--------->    Namatullah </h3><br>
    <h3>Last Name:---->    Wahidi </h3><br>
    <h3>StuNo:-------->    1604.01040 </h3><br>
    <h3>Bil_371:-------->   Final Exam</h3><br>

{% endblock %}

{% block Footer %}
  {{ include('footer.html.twig') }}
{% endblock %}