<div class="row">
      <!-- Portfolio Grid Items -->
        <div class="col-lg-2 mr-auto">
           	<div class="vertical-menu">
           		<ul class="menuBir">
                <li class="menuIki">
                    <a class="menuUc" href="{{ path('Main') }}" class="nav-item nav-link active">Башкы бет</a>
                </li>
                 <li class="menuIki">
                    <a class="menuUc" href="{{ path('showallstudent') }}" class="nav-item nav-link active">Таблица менен иштөө</a>
                 </li>
                 <li class="menuIki">
                    <a class="menuUc" href="{{path('searchsomestudent')}}" class="nav-item nav-link">Издөө</a>
                 </li>
              </ul>
	            
	            
	            
	           

	        </div>
        </div>
   
    <div class="col-lg-10 mr-auto">